<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Airstack Tests.GraphQL TA ">
<!--    <listeners>-->
<!--        <listener class-name="com.airstack.ta.reporting.ExtentTestManager"></listener>-->
<!--    </listeners>-->
    <test name="TC_01">
        <classes>
            <class name="Tests.GraphQL"/>
        </classes>
    </test>
</suite>